$white: #ffffff;
$black: #000000;

// fonts
$font-color-light: #f1f1f1;
$font-color-dark: #3b3b3b;

// breakpoints
$lrg-dsktp: 75em;
$dsktp: 68.75em;
$tablet: 56.25em;
$mobile: 37.5em;
$phone: 31.25em;