@import '../../containers/searchbar/searchbar';
@import '../../components/app/app';


body {
    background-color: lighten(rgb(200, 198, 192), 20%);
    margin: 0 auto;
    paddng: 0;
    text-align: center;
}

